* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
}

.logo img {
    height: 50px;
    margin-top: -0.4rem;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
}

.nav-bar ul li {
    margin-left: 0.5rem;
}

.list-text {
    margin-top: 0.4rem;
}

.img-logos {
    height: 30px;
    cursor: pointer;
}

.contact-bar {
    background-color: #72b21d;
    display: flex;
    padding: 1.2rem;
    margin-top: -1.5rem;
}

.img-phone {
    height: 35px;
    padding-right: 0.2rem;
}

.text-contact p{
    color: white;
    font-size: 13px;
}

.text-contact h3 {
    color: white;
    font-size: 21px;
    text-align: center;
}

.img-s1 {
    width: 100%;
    height: calc(60vh - 55.38px);
    opacity: 0.98;
    position: absolute;
    z-index: -9;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.container {
    width: 56%;
    height: calc(60vh - 55.38px);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container h2 {
    font-size: 36px;
    color: white;
    font-weight: 400;
}

.container h1 {
    font-size: 55px;
    color: white;
}

.btn-s1 {
    margin-top: 0.5rem;
    background-color: #fe8500;
    color: white;
    padding: 1rem;
    border: 0;
    width: 215px;
    font-weight: bold;
}

.btn-s1:hover {
    cursor: pointer;
    background-color: #D88D00;
}

.section2 {
    background-color: rgba(169, 169, 169, 0.5);
    display: flex;
    height: 360px;
}

.container-s2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    margin: auto;
}

.container-items {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
    gap: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.container-items img {
    height: 50px;
}

.container-consult {
    background-color: #fe8500;
}

.container-travel {
    background-color: #378dd6;
}

.container-hotel {
    background-color: #72b21d;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.container-s3 {
    margin-top: 3rem;
}

.container-s3 h3 {
    font-size: 30px;
    color: #172e3e;
}

.container-s3 p {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0.4rem;
}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    margin-top: 2.4rem;
    gap: 50px;
}

.services-content {
    width: 270px;
    margin-top: 1rem;
}

.services-content h4 {
    color: #172e3e;
    font-size: 19px
}

.services-content p {
    margin-top: 1rem;
    text-wrap: balance;
    font-size: 15px;
}

.img-services {
    width: 270px;
    height: 220px;
}

.footer {
    background-color: #172e3e;
    color: white;
    padding: 2rem;
    margin-top: 3rem;
    text-align: center;
    font-size: 14px;
    width: 100%;
}
